<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AppId" value="1829164380628632" xdt:Transform="Remove" />
    <add key="AppSecret" value="5fb1f46e6c2eb52bac44361a770391ff" xdt:Transform="Remove" />
    <add xdt:Transform="Insert" key="AppId" value="153686205132220" />
    <add xdt:Transform="Insert" key="AppSecret" value="7882e852e4ccf940248d783d8886f3a8" />
  </appSettings>
  <connectionStrings>
     <add name="ContactWebContext" xdt:Transform="Remove" /> 
     <add name="ContactWebContext"
       connectionString="Server=9e06bd38-02b9-4247-a22f-a7080125081a.sqlserver.sequelizer.com;Database=db9e06bd3802b94247a22fa7080125081a;User Id=orvgbeebseuorrzh;Password=czpwTLyvX35HTNXNTkTjRrVveQcuPmjhcxqYSTd4pBxioJrduiWD6SHSL3rcJdPK;" 
       providerName="System.Data.SqlClient" 
       xdt:Transform="Insert" />
    
    <add name="DefaultConnection"  
         connectionString="Server=9e06bd38-02b9-4247-a22f-a7080125081a.sqlserver.sequelizer.com;Database=db9e06bd3802b94247a22fa7080125081a;User Id=orvgbeebseuorrzh;Password=czpwTLyvX35HTNXNTkTjRrVveQcuPmjhcxqYSTd4pBxioJrduiWD6SHSL3rcJdPK;" 
         providerName="System.Data.SqlClient" 
         xdt:Transform="Replace"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
